doctype html
html
  head
    title= pageTitle
    link(rel="stylesheet" type="text/css" href="css/login.css")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(type="text/javascript" src="javascript/login.js")
  body
    form.login
      label#Username(for="Username") Username
        input(type="text" name="Username")
      br
      label#Password(for="Password") Password
        input(type="text" name="Password")
      br
      button#loginbutton Sign Up
      button#loginbutton Submit
  footer
    script(type="text/javascript" src="login.js")



