doctype html
html
  head
    title= pageTitle
    link(rel="stylesheet" type="text/css" href="login.css")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(type="text/javascript" src="login.js")
  body
    form.login
      p#Username Username
      input(type="text" name="Username")
      br
      p#Password Password
      input(type="text" name="Password")
      br
      button#loginbutton Sign Up
      button#loginbutton Submit
  footer
    script(type="text/javascript" src="login.js")



