doctype html
html
  head
    meta(charset="UTF-8")
    title ListenUp-Review
    link(rel="stylesheet" type="text/css" href="css/myreview.css")
  body
    header
      //-burger logo
      img#menu(src="../images/menu-blue.png")
      //- logo
      img#logo(src="../images/listenUp-4-2-5-last.svg")
      button#wrbutton Write a Review
    nav
      img#profilePic(src="../images/user1.png")
      h2#username User Name
      ul
        li My Reviews

        li My Settings
        li Sign Out
    h1#pageTitle MY REVIEWS
    main#reviews
      article#profileInfo
        img#profilePic(src="../images/user1.png")
        p Number of album reviews:
        p 35
      article.reviewTitle
        img.cover(src="../images/homepage_large.5cbf0d08.jpg")
        section.info
          h2.albumTitle Modern Vampires of the City
          h4.artist Vampire Weekend
        section.rating
          <!-- <img src=""><img src=""><img src=""><img src=""><img src=""> --> <!-- stars -->
        section.comment
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        <!-- The review -->
      article.reviewTitle
        img.cover(src="../images/homepage_large.7a4e0af0.jpg")
        section.info
          h2.albumTitle Halcyon Digest
          h4.artist Deerhunter
        section.rating
          <!-- <img src=""><img src=""><img src=""><img src=""><img src=""> --> <!-- stars -->
        section.comment
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <!-- The review -->
    footer
    script(src="javascript/jquery-2.1.1.js")
    script(src="javascript/myreview.js")

