body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
}

header {
  padding: 0px;
  margin: 0px;
  height: 8vh;
  min-height: 30px;
  /*background-color: #9c9c9c;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #213860;
  padding-bottom: 4px;
  padding-top: 4px;
}

#writeReview {
  border-radius: 15px;
  height: 60%;
  width: 10%;
  border: none;
  font-size: 1em;
  background-color: #00c405;
  color: white;
  margin-right: 1%;
}

#writeReview:active {
  /*width: 9.5%;*/
  height: 49%;
  font-size: 0.95em;
}
nav {
  position: fixed;
  width: 30%;
  height: 100%;
  background-color: #9c9c9c;
  text-align: center;
  display: none;
  z-index: 200;
  box-shadow: 10px 5px 10px #9c9c9c;
}


ul {
  width: 100%;
  margin-left: 0px;
  padding-left: 0px;
  margin-top: 10%;
  padding-bottom: 5%;
  list-style-type: none;
}

li:first-child {
  padding-top: 5%;
  border-top: 2px solid white;
}

li:active {
  /*font-size: 1.5em;*/
  background-color: #00c405;
}

li {
  border-bottom: 2px solid white;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 1em;
}

#profilePic {
  max-width: 80%;
  height: 20%;
  background-color: #00c405;
  margin-top: 5%;
  border-radius: 100%;
}

#username {
  margin-top: 5%;
  font-size: 2em;
}

#menu {
  height: 80%;
  max-width: 80%;
}

#logo {
  margin-left: 5%;
  height: 100%;
}