body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
}

header {
  padding: 0px;
  margin: 0px;
  height: 8vh;
  min-height: 30px;
  /*background-color: #9c9c9c;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #213860;
  padding-bottom: 4px;
  padding-top: 4px;
}

#writeReview {
  border-radius: 15px;
  height: 40%;
  width: 10%;
  min-width: 140px;
  border: none;
  font-size: 1em;
  background-color: #00c405;
  color: white;
  margin-right: 1%;
}

#writeReview:active {
  /*width: 9.5%;*/
  height: 49%;
  font-size: 0.95em;
}
nav {
  position: fixed;
  width: 30%;
  height: 100%;
  background-color: #9c9c9c;
  text-align: center;
  display: none;
  z-index: 200;
  box-shadow: 10px 5px 10px #9c9c9c;
}


ul {
  width: 100%;
  margin-left: 0px;
  padding-left: 0px;
  margin-top: 10%;
  padding-bottom: 5%;
  list-style-type: none;
}

li:first-child {
  padding-top: 5%;
  border-top: 2px solid white;
}

li:active {
  /*font-size: 1.5em;*/
  background-color: #00c405;
}

li {
  border-bottom: 2px solid white;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 1em;
}

#profilePic {
  max-width: 80%;
  height: 20%;
  background-color: #00c405;
  margin-top: 5%;
  border-radius: 100%;
}

#username {
  margin-top: 5%;
  font-size: 2em;
}

#menu {
  height: 80%;
  max-width: 80%;
}

#logo {
  margin-left: 5%;
  height: 100%;
}
/* Source - http://lea.verou.me/2011/08/accessible-star-rating-widget-with-pure-css/ */

.rating {
    float:right;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: gold;
}
/* Hover color to flow from star to star */
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
}
/* Color for star click and all children behind it */
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: gold;
}

/*.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}
*/
section {
  display: flex;
  flex-direction: column;
  margin-top: 1%;
  font-size: 2em;
}

form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
}

section h1 {
  margin: 0 auto;
  margin-bottom: 5%;
  font-size: 2em;
}

section button {
  width: 10%;
  margin: 0 auto;
  margin-top: 5%;
}

.rating {
  margin: 0 auto;
  width: 100%;
  border: 0;
  margin-top: 3%;
  margin-bottom: 10%;
}

.rating label {
  margin-right: 4%;
}

form input {
  margin-top: 3%;
  margin-bottom: 10%;
  font-size: 1.2em;
}

textarea {
  margin-top: 8%;
  margin-bottom: 8%;
  font-size: 1.2em;
}

