@import "../../button/css/button.scss";

$color1:#00c405;//green
$color2:#213860;//blue
$color3:#f3b27d;//orange
$starlit:#ffd700;
$starfade:#dddddd;

$gratio:0.618*0.618;
$width:50%;
//layout
body{
  position:relative;
}
//the module
@mixin loginbox{
  height:$width*$gratio;
  width:$width;
  background-color:$color3;
  border-radius:5%;
  text-align:center;
}
@loginbutton{

}
.login{
  @include loginbox;
  margin:10% auto;
  }
#Username{
  font-family: arial;
  color:$color2;
  order:1;
}
#Password{
  @extend #Username;
  order:2
}

#loginbutton{
  @include button(50px);
  background-color: $color2;
  color:lighten(white, 50%);
}

