$primarycolor:#007373;//aqua
$secondarycolor:#3d567f;//blue
$tertiarycolor:#101812;//greenish black
$quaternarycolor :#f3b27d;//cream yellow
$buttongreen:#00c405;
$gratio:0.618*0.618; // the square of the golden ratio

// font: arial, san-serif
// title: 2.625 em
//headline 1.625 em
//sub-heading: 1.25em
// primary tex 1em
// sub-text:0.813 em.

//prototype of buttons, not including color. insert the width
@mixin button ($width){//sepcify the size when you use it
  $height: $gratio * $width;
  height: $height;
  width: $width;
  border-radius: 0.075*$width;
  border: none;
  font-size: 0.5 * $height;
}

//specify the color
#submitButton{
  @include button(300px);
  background-color: $buttongreen;
  color:lighten($quaternarycolor, 50%);
}
//specify the color
#logInButton{
  @include button(200px);
  background-color:$primarycolor;
  color:$tertiarycolor;
}
