$primarycolor:#007373;//aqua
$secondarycolor:#3d567f;//blue
$tertiarycolor:#101812;//greenish black
$quaternarycolor :#f3b27d;//cream yellow
$buttongreen:#00c405;
$width:500px;
$gratio:0.618*0.618; // the square of the golden ratio

// font: arial, san-serif
// title: 2.625 em
//headline 1.625 em
//sub-heading: 1.25em
// primary tex 1em
// sub-text:0.813 em.

@mixin button{
  $height: $gratio * $width;
  height: $height;
  width: $width;
  background-color: $buttongreen;
  color:lighten($quaternarycolor, 50%);
  border-radius: 0.075*$width;
  border: none;
  font-size: 0.5 * $height;
}

#button{
  @include button;
}
